<html>
    <%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav') %>
    <!-- blog page form -->
    <div class="create-blog content">
        <form action="/blogs" method="POST" enctype="multipart/form-data">
          <label for="title">Blog Title</label>
          <input type="text" id="title" name="title" required>
          <label for="description">Description</label>
          <input type="text" id="description" name="description" required>
          <label for="tags">Tags</label>
          <input type="text" id="tags" name="tags" required>
          <label for="chooseImg" id="imgInputLabel">Image</label>&nbsp;&nbsp;
          <div class="img-preview-container"><img id="imgPreview" src=""></div> 
          <input type="file" name="blogImg" id="chooseImg">
          <label for="body">Blog body</label>
          <textarea id="body" name="body" required></textarea>
          <button>Post</button>
        </form>
    </div>

      <%- include('../partials/footer.ejs') %>
      <script>

        document.getElementById('chooseImg').addEventListener('change', (event) => {
          const selectedImg = document.getElementById('imgPreview');
          selectedImg.src = URL.createObjectURL(event.target.files[0]);
          selectedImg.addEventListener('load', () => URL.revokeObjectURL(selectedImg.src));
      });
      
      </script>
</body>
</html>