<html>
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav') %>

    <div class="about content">
        <h2>About</h2><br>
        <h3>Unbundled - Blog Application</h3><br>
        <p>A web application using HTML, CSS, JavaScript, NodeJS, ExpressJS, EJS, and MongoDB.</p><br>
        <h3>Team Members : </h3>
        <p>1. Naveen Gupta 2K18/CO/223</p>
        <p>2. Prateek Kumar 2K18/CO/255</p>
        <p>3. Rahul Kumar Yadav 2K18/CO/274</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>