@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
   body{
        font-family: 'Roboto', sans-serif;
        background: url("bg.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 20px auto;
        padding: 0 20px;
        /* font-family: 'Noto Serif', serif; */
        max-width: 1200px;
      }

      p, h1, h2, h3, a, ul{
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #222;
      }
  
      /* nav & footer styles */
      nav{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
      nav ul{
        display: flex;
        justify-content: space-between;
        text-align: center;
      }
      nav li{
        text-align: center;
        list-style-type: none;
        margin-left: 100px;
        margin-top: 20px;
      }
      nav h1{
        font-size: 3em;
      }
      nav p, nav a{
        color: #ffffff;
        font-size: 20px;
        
      }

      nav h1:hover {
        color: #ffffff;
      }

      nav a:hover {
        color: #222;
      }

      footer{
        color: #ffffff;
          flex-shrink: 0;
          text-align: center;
          margin: 30px;
      }

      h2{
        margin-bottom: 20px;
      }
      h3{
        margin-bottom: 8px;
      }
      .content{
        margin-left: 20px;
      }


      .blogs {
        min-height: 60%;
        display: flex;
        flex-direction: column;
      }

      .like {
        padding-left: 20px;
        font-size: 28px;
        color: rgb(219, 99, 183);
      }

      .blogs a{
        margin: 40px 0;
        padding-left: 30px;
        border-left: 8px solid rgb(72, 134, 150);
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
      }

      .blogs a:hover .tags{
        font-size: 20px;
      }

      .blogs a:hover .title {
        font-size: 28px;
      }
      
      .blogs a:hover {
        border-left: 10px dashed #ffffff;
      }

      .blogs a h3, p{
        color :#ffffff;
      }

      .blogs a:hover h3{
        color: rgb(207, 68, 50);
      }
      
      .details{
        display: flex;
        flex-direction: column;
        min-height: 60%;
      }

      .details h1 {
        text-align: center;
        color: #273F4B;
      }



      .delete {
        color: white;
        /* width: fit-content; */
        border-radius: 50%;
        padding: 4px;
        /* margin: auto; */
        background-color: rgb(165, 92, 92);
      }

      .delete:hover{
        cursor: pointer;
        background-color: red;
        box-shadow: 2px 1px 1px rgb(255, 255, 255);
      }

      .delete-icon {
        height: 30px;
        width: 30px;
        color: #ffffff;
      }

      .create-blog {
        padding: 40px 40px 40px 0px;
      }
      .create-blog form{
        padding: 40px;
        margin: 0 auto;
      }
      .create-blog input,
      .create-blog textarea{
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px;
      }
      .create-blog label{
        display: block;
        margin-top: 24px;
      }
      textarea{
        height: 120px;
      }
      .create-blog button{
        margin-top: 20px;
        background: rgb(26, 196, 130);
        color: white;
        padding: 10px;
        border: 0;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
      }
      input, textarea {
        border-radius: 5px;
        border: none;
      }

      form {
        width: 80%;
        background-color: #5F717D;
        padding: 30px;
        border-radius: 7px;
        opacity: 0.75;
      }

      .site-title {
        font-family: 'Festive', cursive;
      }

      h1 .tags {
        font-size: 16px;
        text-align: center;
        color: #A3297A ;
      }

      .tags {
        font-size: 16px;
        font-weight: bolder;
        color: #A3297A;
      }

      .blogs span {
        font-size: 16px;
      }

      .not-found {
        text-align: center;
        font-size: 70px;
      }

      .create-blog button {
        padding: 10px 40px;
      }

      #imgPreview {
        width:280px;
        height:200px;
    }

    .blogDetailImg {
      text-align: center;
      min-height: 250px;
      min-width: 250px;
      max-width: 670px;
      max-height: 360px;
      border-radius: 5px;
    }

    .imgContainer {
      text-align: center;
    }

    .blog-content {
      white-space: pre-wrap;
    }

    .details {
      border-radius: 5px;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.1);
    }

    form label {
      font-weight: bold;
    }

    form textarea {
      resize: vertical;
      min-height: 200px;
    }

    .title {
      font-size: 24px;
      font-weight: bolder;

    }

    .blogIdxImg {
      width: 150px;
      height: 100px;
    }

    .idx-desc {
      width: 80%;
    }

    .idx-img {
      width: 20%;
    }

    .idx-container {
      display: flex;
      flex-direction: row;
    }

  .options .fa-heart:hover{
      color: rgb(135, 44, 156);
  }

  .options {
    display: flex;
    justify-content: space-between;
  }

  .fa-heart {
    color: rgb(214, 127, 207);
  }

  .views {
    font-size: 30px;
    color: rgb(53, 153, 192);
  }

  .idx-desc .fa-eye {
    color: rgb(53, 153, 192);
  }

  .content  .desc {

    color: #ffffff;
    text-align: center;
  }

    @media (max-width: 700px) {
      .imgContainer {
        width: 100%;
      }

      .blogDetailImg {
        width: 100%;
      }

      nav {
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
      }

      nav li {
        margin-left: 0;
      }
      .create-blog {
        padding: 40px 0px ;
      }

      .idx-container {
        flex-direction: column;
      }
    }